{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InstPlot</title>
    <link href="{% static 'css/wbase.css' %}" rel="stylesheet">
</head>
<body>
    <div class="b-popup" id="popup1">
        <div class="b-popup-content">
            {% block help %}

            {% endblock help %}
        <a  id="hide" href="#">Hide</a>
        </div>
    </div>
        <ul class="menu">
            {% if section != "MyPlots" %}
                <li><a href="{% url 'Plots:myplots' %}">My Plots</a></li>
            {% else %}
                {% if q_set_Plots.has_previous %}
                    <li><a href="?page={{q_set_Plots.previous_page_number}}">Previous</a></li>
                {% endif %}
            {% endif %}
            <li><a href="#">News</a></li>
            {% if section == "MyPlots" %}
                {% if q_set_Plots.has_next %}
                <li><a href="?page={{ q_set_Plots.next_page_number }}">Next</a></li>
                {% endif %}
            {% else %}
                <li><a id = 'openmodal' href="#">Help</a></li>
            {% endif %}

            {% block changes %}

            {% endblock %}
        </ul>
    {% block registration %}
    {% endblock %}

    {% block library  %}
    {% endblock library %}
    <div id = "Plots">
        {% block content %}

        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      </script>
    <script src ="{% static 'js/plot.js' %}"></script>
    <script src ="{% static 'js/info.js' %}"></script>
</body>
</html>
