{% extends "base.html" %}
{% block title %}Create an account{% endblock %}

{% block changes %}
            <li><a href="{% url 'Plots:main' %}" >Calculate</a></li>
{% endblock %}
{% block help %}
            Please, sign up using the following form
{% endblock help %}
{% block registration %}
<h1>Create an account</h1>
<div class="wrapper">
	<form class="signin" action = "." method="post" autocomplete="off">
        {% csrf_token %}
		{{ form.as_input }}
		<button type="submit">&#9658;</button>
	</form>
</div>
{% endblock %}
